.aboutMe{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&__bio{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		height: 40vh;
		background-color: $yellow;
	}
	&__circle {
		align-self: center;
		width: 60px;
		height: 60px;
		background: $lime;
		-webkit-border-radius: 30px;
	}
	&__text{
		padding-top: 10%;
		align-self: center;
	}

	&__intro{
		width: 50%;
		height: 40vh;
		text-align: center;
		background-color: $pink;
	}

	&__experience{
		width: 50%;
		height: 40vh;
		text-align: center;
		background-color: $pink;
	}

	&__skills{
		width: 50%;
		height: 40vh;
		background-color: $purple;
		text-align: center;
		&__skillbar{
			width: 80%;
			height: 15px;
			margin: 3% 10%;
			background-color: $light-grey;
			&--barOne{
				@extend .fullbar;
				width: random(100) + %;
			}
			&--barTwo{
				@extend .fullbar;
				width: random(100) + %;
			}
			&--barThree{
				@extend .fullbar;
				width: random(100) + %;
			}
			&--barFour{
				@extend .fullbar;
				width: random(100) + %;
			}
			&--barFive{
				@extend .fullbar;
				width: random(100) + %;
			}
		}
		.fullbar{
			background-color: $yellow;
			height: 15px;
		}
	}
}
